
.container {
  flex: 0 0 75%;
  background: url("../Main/bg2.jpg");
  overflow: auto;
}

.mainContainer{
  /* background-color: rgb(228, 163, 78); */
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  /* overflow-y: scroll; */
  /* flex-grow: 1; */
}

.noChat{
  height: 100vh;
  /* overflow-y: scroll; */
  /* flex-grow: 7; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  color: rgb(108, 108, 108);
  /* border: 2px solid blue; */
}



* ::-webkit-scrollbar {
  display: none;
}

.appMessage {
    text-align: center;
    margin: 0.5rem;
}

.messageInput {
  flex: 0 0 auto; /* Fixed height */
}

.threads{
  overflow-y: auto;
  padding: 2rem;
  padding-top: 5rem;
  color: white;
  margin-bottom: 3rem;
  width: 20vw;
}