@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.parentContainer{
    display: flex;
    width: 100%;
    /* border: 1px solid blue; */
    justify-content: flex-start;
}

.wrapper{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    max-width: 90%;
}

.messageContainer{
    background-color: #373737;
    word-wrap: break-word;
    /* min-width: 6rem; */
    padding: 0.6rem;
    box-sizing: border-box;
    margin-top: 0.5rem;
    border-radius: 7px;
    /* border: 1px solid green; */
}

.threadIcon{
    color: rgb(148, 148, 148);
}

.messageBase{
    display: flex;
}

.title{
  font-family: "Roboto", sans-serif;
    color: #6cc9f4;
}

.message{
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    word-wrap: break-word;
}

.time{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.documentContainer{
    border-radius: 7px;
    padding: 0.6rem;
}

.documentMainBody{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
}

.documentDetails{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}